$header-color : rgb(235,235,235);
.bg-dark{
    background-color: $header-color !important;
}

.navbar-dark {
    .navbar-brand {
        color: #000000 !important;
    }
    span{
        color: #f62f5e;
    }
}

.navbar-dark {
    .navbar-nav {
        .nav-link {
            color: black;
        }
    }
    .navbar-toggler{
        .navbar-toggler-icon{
            background: url("../images/navbar_collapse_icon/red.png");
            width: 2.5em;
            height: 2.5em;
        }
    }

    #collapsibleNavbar{
        padding-left: 85px;
        justify-content: space-between;
        ul {
            li {
                a {
                    font-family: Montserrat;
                    font-size: 20px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 2.4;
                    letter-spacing: normal;
                    color: #2e2e2e;
                    padding-right: 26px;
                }
            }
        }
    }

    button:focus{
        outline: none;
    }
}